<div class="container">
    <div class="row">
        <div class="col-md-12 mt-5">
            <% if @notifications.exists? %>
                <% @notifications.each do |notification| %>
                    <% if notification.checked == false %>
                        <div>
                            <% customer_id = notification.visitor_customer_id %>
                            <%= link_to message_path(customer_id) do %>
                                <%= notification.visitor_customer.last_name %>さん
                            <% end %>
                            があなたにDMを送りました。
                            <%= notification.created_at.strftime("%Y-%m-%d %H:%M") %>
                            <%= link_to '既読にする', producer_notification_path(notification), method: :put %>
                        </div>
                    <% end %>
                <% end %>
            <% else %>
                <p>通知はません</p>
            <% end %>
        </div>
    </div>
</div>