<div id="favorite-<%= product.id %>">
  <% if product.favorited_by?(current_customer) %>
    <%= link_to  destroy_product_favorite_path(product), method: :delete, remote: true do %>
      ♥お気に入りから削除する
    <% end %>
  <% else %>
    <%= link_to create_product_favorite_path(product), method: :post, remote: true do %>
      ♡お気に入りに追加する
    <% end %>
  <% end %>
</div>