<div class="container">
    <div class="about_image">
        <div class="text-center mt-3">
            <h3><strong>SanchoCook</strong></h3>
            <h4>REDUCE FOOD WASTE</h4>
            <p>
                生産者さんと食卓をつなぐ<br>
                人にも地球にも優しい産直野菜お届けレシピサイト<br>
            </p>
        </div>
    </div>
    <div class="about_body">
        <div class="row">
            <div class="col-md-4">
                <div id="about_vegetables_right">
                    <div class="about_vegetable1"></div>
                    <div class="about_vegetable2"></div>
                    <div class="about_vegetable3"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-center mt-3">
                    <p id="about_message">
                        <p><strong>食卓に優しさと彩りを。</strong></p>
                        
                        <p>不揃いで出荷できなかった</p>
                        <p>美味しくて、ちょっぴり個性的な</p>
                        <p>お野菜や果物を</p>
                        <p>お手頃な価格で食卓に。</p>
                        <p>食品ロスの削減に貢献しながら</p>
                        <p>食卓に彩りを加えてみませんか？</p>
                        <p>農家さんが教えてくれる</p>
                        <p>野菜を余すことなく</p>
                        <p>美味しく味わえるレシピ付きの</p>
                        <p>産直野菜購入サイト</p>
                        <p>SanchoCook</p>
                        <p>ぜひ試してみてください</p>
                        <div class="btn_06">
                          <span>
                            <%= link_to '無料新規会員登録はこちらから', new_customer_registration_path,class:"btn" %> 
                          </span>
                        </div>
                        <div class="btn_06 mt-3">
                          <span>
                            <%= link_to '生産者の方の新規会員登録はこちらから', new_producer_registration_path,class:"btn" %> 
                          </span>
                        </div>
                        <div class="btn_06 mt-3">
                          <span>
                            <%= link_to '生産者の方のログインはこちらから', new_producer_session_path,class:"btn" %> 
                          </span>
                        </div>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div id="about_vegetables_left">
                    <div class="about_vegetable4"></div>
                    <div class="about_vegetable5"></div>
                    <div class="about_vegetable6"></div>
                </div>
            </div>
        </div>
    </div>
</div>