<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <div  class="d-flex justify-content-center">
        <h2>人気商品一覧</h2>
      </div>
      
      <%= render 'customer/products/products', products: @products %>
      
      <div  class="d-flex justify-content-center row mt-5">
        <h2>人気レシピ一覧</h2>
      </div>
      
      <%= render 'customer/recipes/recipes', recipes: @recipes %>
      
    </div>
  </div>
</div>