<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <div  class="d-flex justify-content-center">
        <h2>人気商品一覧</h2>
      </div>
      
      <%= render 'customer/products/products', products: @products %>
      
      <section class="mt-5">
        <div class="btn_06">
          <span>
            <%= link_to 'もっと見る', products_path, class:"btn" %>  
          </span>
        </div>
      </section>
    
      <div  class="d-flex justify-content-center row mt-5">
        <h2>人気レシピ一覧</h2>
      </div>
      
      <%= render 'customer/recipes/recipes', recipes: @recipes %>
      
      <section class="mt-5">
        <div class="btn_06">
          <span>
            <%= link_to 'もっと見る', recipes_path, class:"btn" %>  
          </span>
        </div>
      </section>
    </div>
  </div>
</div>