<!--console.log(@messages);-->
<!--$('#messages').append("<%#= j(render 'message', messages: @messages) %>");-->
<!--$('input[type=text]').val("")-->
$('.messages').append("<tr><th></th><th><p style='text-align: right;'><%= @message.message %></p></th></tr>");
$('input[type=text]').val("")