$('.messages').append('<div class="d-flex justify-content-end"><div class="balloon2-right"><p><%= @message.message %></p><p><%= @message.created_at.strftime("%m/%d %H:%M:%S") %></p></div></div>');
$('input[type=text]').val("")