<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h2>商品一覧</h2>
      <h2>（<%= @products.count %>件）</h2>
      
      <%= render 'customer/products/products', products: @products %>
      
      <%= paginate @products_pagination %>
    </div>    
  </div>
</div>

