<div class="container">
  <div class="row mt-5">
      <h2>STEP 1 レシピ名登録</h2>
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-1">

            <%= form_with model: [:producer, @recipe], local:true do |f| %>

              <table  class="table table-borderless">
                <tbody>

                  <tr>
                    <td>レシピを投稿する商品を選択</td>
                    <td>
                      <%= f.select :product_id, @products.map { |product| [product.name, product.id] }, :include_blank => "選択してください" %>
                    </td>
                  </tr>

                  <tr>
                    <td>レシピ名</td>
                    <td>
                      <%= f.text_field :name, placeholder: "レシピ名", class:"form-control" %>
                    </td>
                  </tr>


                  <tr>
                    <td>&nbsp;</td>
                    <td>
                    <%= f.submit 'STEP 2 レシピ詳細登録へ', class: "btn btn-success"  %>
                    </td>
                  </tr>
                </tbody>
              </table>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>