<div class="container">
    <div class="about_image">
        <div class="text-center mt-3">
            <h3><strong>SanchoCook</strong></h3>
            <h4>REDUCE FOOD WASTE</h4>
            <p>
                生産者さんと食卓をつなぐ<br>
                人にも地球にも優しい産直野菜お届けレシピサイト<br>
            </p>
        </div>
    </div>
    <div class="about_body">
        <div class="row">
            <div class="col-md-2">
                <div id="about_vegetables_right">
                    <div class="about_vegetable1"></div>
                    <div class="about_vegetable2"></div>
                    <div class="about_vegetable3"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="text-center mt-3">
                    <p id="about_message">
                        <h2><strong>SanchoCookご利用方法</strong></h2>



                        <h2>STEP1 会員登録</h2>
                        <p>1. 無料新規会員登録ページで必要情報を入力</p>
                        <p>2. 入力情報を確認して送信</p><br>
                        
                        <h2>STEP2 承認待ち</h2>
                        <p>1. ログイン情報をもとに生産者用ページにログインします</p>
                        <p>2. この時点ではまだ出品できません</p>
                        <p>3. 会員登録後、送信されるメールにて必要情報の追加登録を行います</p>
                        <p>（特定商取引法にて通信販売に必要な情報の登録などを行います）</p>
                        <p>4. SanchoCookからの承認を得られた生産者の方のみ出品が許可されます</p>
                        <p>（承認には２週間程度かかります）</p><br>
    
                        <h2>STEP3 商品登録</h2>
                        <p>1. 販売したい商品画像を撮影します</p>
                        <p>2. 商品画像を掲載し、商品名、商品価格、商品説明を入力</p>
                        <p>（商品価格には、配送料を引いた価格を掲載してください）</p>
                        <p>（配送料は全国一律で￥800 SanchoCook負担です）</p><br>
                        
                        <h2>STEP４ レシピ登録</h2>
                        <p>1. 販売している商品に紐づくレシピを登録することができます</p>
                        <p>2. 手順に沿って必要項目をご入力ください</p><br>
                        
                        <h2>STEP5 商品の発送</h2>
                        <p>1. 買い手から注文が入ります</p>
                        <p>2. 当社への入金が確認できたら注文のステータスが入金確認に変更されます</p>
                        <p>3. 注文管理画面から注文内容を確認し、発送準備を行ってください</p>
                        <p>4. 配送が完了したらステータスを発送済みに変更します</p><br>
                        
                        <h2>STEP6 入金</h2>
                        <p>1. 商品が無事お客様に届いたことを確認</p>
                        <p>2. 当月末締め翌月払いで当社手数料を差し引き、貴社へ入金します</p>
                        <p>3. 振込先などのご登録はメールにて行います</p>
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div id="about_vegetables_left">
                    <div class="about_vegetable4"></div>
                    <div class="about_vegetable5"></div>
                    <div class="about_vegetable6"></div>
                </div>
            </div>
        </div>
    </div>
</div>