/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_directory .
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');


* {
  font-family: 'Noto Sans JP', sans-serif;
}

/* フッターの設定
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
  // background-image: image-url("carrot.jpg");
}

footer {
  text-align: center;
  font-size: 3px;
  .copyright {
    margin: 50px auto;
  }
}
/*
-------------------------------------------------- */
/* カードの設定
-------------------------------------------------- */
.card {
  margin: 20px 20px;
}
/*
-------------------------------------------------- */

/*
-------------------------------------------------- */
/* headerの設定
-------------------------------------------------- */

.nav-link{
    /*線の基点とするためrelativeを指定*/
  position: relative;
}

.nav-link.current,
.nav-link:hover{
  color:#0481A2;
}

.nav-link::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background: #666c67;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.nav-link.current::after,
.nav-link:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

.about-comment {
  color: #696969;
  font-weight: lighter;
  text-size: 30px;
  padding: 0 400px;
}

#box{
  height: 600px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: white;
  .navbar {
    position: absolute;
    top: 7%;
    left: 50%;
    width: 50%;
    z-index: 9999;
  }
  .nav-link{
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;   
  }
  .navbar-brand {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 9999;
  }
  #welcome-name {
    color: white;
    position: absolute;
    top: 18%;
    left: 2%;
    z-index: 9999;
  }
  .box-text {
    position: absolute;
    top: 35%;
    left: 30%;
    z-index: 9999;

    h1{
      //font-family: 'Hannotate TC',sans-serif;
      text-align: center;
      font-size: 7vw;
    }
    p{
      // font-family: 'Hannotate TC',sans-serif;
      text-align: center;
      font-size: 1.8vw;
    }
  }
  
  #vegetables{
    .vegetable1 {
      background-image: image-url("vegetable7.jpg");
      background-size : cover ;
    }
    .vegetable2 {
      background-image: image-url("vegetable8.jpg");
      background-size : cover ;
    }
    .vegetable3 {
      background-image: image-url("vegetable3.jpg");
      background-size : cover ;
    }
    .vegetable4 {
      background-image: image-url("vegetable4.jpg");
      background-size : cover ;
    }
    .vegetable5 {
      background-image: image-url("vegetable5.jpg");
      background-size : cover ;
    }
    .vegetable6 {
      background-image: image-url("vegetable6.jpg");
      background-size : cover ;
    }
  }
}
/*
-------------------------------------------------- */