/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_derectory .
 *= require skippr.css
 *= require_self
 */
@import "bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


* {
  font-family: 'Noto Sans JP', sans-serif;
}

/* フッターの設定
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}

footer {
  text-align: center;
  font-size: 3px;
  .copyright {
    margin: 50px auto;
  }
}
/*
-------------------------------------------------- */
/* カードの設定
-------------------------------------------------- */
.card {
  margin: 20px 20px;
}
/*
-------------------------------------------------- */

/*
-------------------------------------------------- */
/* headerの設定
-------------------------------------------------- */

.nav-link{
    /*線の基点とするためrelativeを指定*/
  position: relative;
}

.nav-link.current,
.nav-link:hover{
  color:#0481A2;
}

.nav-link::after {
  content: '';
  /*絶対配置で線の位置を決める*/
  position: absolute;
  bottom: 0;
  left: 10%;
  /*線の形状*/
  width: 80%;
  height: 2px;
  background: #666c67;
  /*アニメーションの指定*/
  transition: all .3s;
  transform: scale(0, 1);/*X方向0、Y方向1*/
  transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.nav-link.current::after,
.nav-link:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

.about-comment {
  color: #696969;
  font-weight: lighter;
  text-size: 30px;
  padding: 0 400px;
}

.search_form {
  position: absolute;
  top: 15%;
  left: 66%;
}

#box{
  height: 600px;
  position: relative;
  width: 100%;
  min-height: 100vh;
  color: white;
  .navbar {
    position: absolute;
    top: 7%;
    left: 50%;
    width: 50%;
    z-index: 9999;
  }
  .nav-link{
    background-color:rgba(255,255,255,0.5);
    background-blend-mode:lighten;   
  }
  .navbar-brand {
    position: absolute;
    top: 2%;
    left: 2%;
    z-index: 9999;
  }
  
  #welcome-name {
    color: white;
    position: absolute;
    top: 18%;
    left: 4%;
    z-index: 9999;
  }
  .box-text {
    position: absolute;
    top: 30%;
    left: 27%;
    z-index: 9999;

    h1{
      //font-family: 'Hannotate TC',sans-serif;
      text-align: center;
      font-size: 7vw;
    }
    p{
      // font-family: 'Hannotate TC',sans-serif;
      text-align: center;
      font-size: 1.8vw;
    }
  }
  
  #vegetables{
    .vegetable1 {
      background-image: image-url("vegetable7.jpg");
      background-size : cover ;
    }
    .vegetable2 {
      background-image: image-url("vegetable8.jpg");
      background-size : cover ;
    }
    .vegetable3 {
      background-image: image-url("vegetable3.jpg");
      background-size : cover ;
    }
    .vegetable4 {
      background-image: image-url("vegetable4.jpg");
      background-size : cover ;
    }
    .vegetable5 {
      background-image: image-url("vegetable5.jpg");
      background-size : cover ;
    }
    .vegetable6 {
      background-image: image-url("vegetable6.jpg");
      background-size : cover ;
    }
  }
}
/*
-------------------------------------------------- */

/*
-------------------------------------------------- */
/* aboutの設定
-------------------------------------------------- */
.about_image {
  background-image: image-url("about3.jpg");
  background-size : cover ;
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}
#about_message {
  line-hight: 30px;
}
#about_vegetables_right {
  .about_vegetable1 {
    background-image: image-url("about_vegetable1");
    background-size : cover ;
    width:  180px;
    height: 180px;
    border-radius: 50%;
    background-position: left top;
    position: absolute;
    top: 10%;
    left: 30%;
  }
  .about_vegetable2 {
    background-image: image-url("about_vegetable2");
    background-size : cover ;
    width:  180px;
    height: 180px;
    border-radius: 50%;
    background-position: left top;
    position: absolute;
    top: 50%;
    left: 5%;
  }
  .about_vegetable3 {
    background-image: image-url("about_vegetable3");
    background-size : cover ;
    width:  180px;
    height: 180px;
    border-radius: 50%;
    background-position: left top;
    position: absolute;
    top: 90%;
    left: 30%;
  }
}
#about_vegetables_left {
  .about_vegetable4 {
    background-image: image-url("about_vegetable4");
    background-size : cover ;
    width:  180px;
    height: 180px;
    border-radius: 50%;
    background-position: left top;
    position: absolute;
    top: 10%;
    right: 30%;
  }
  .about_vegetable5 {
    background-image: image-url("about_vegetable5");
    background-size : cover ;
    width:  180px;
    height: 180px;
    border-radius: 50%;
    background-position: left top;
    position: absolute;
    top: 50%;
    right: 5%;
  }
  .about_vegetable6 {
    background-image: image-url("about_vegetable6");
    background-size : cover ;
    width:  180px;
    height: 180px;
    border-radius: 50%;
    background-position: left top;
    position: absolute;
    top: 90%;
    right: 30%;
  }
}

/*
-------------------------------------------------- */

/*
-------------------------------------------------- */
/* 画像リンクの設定
-------------------------------------------------- */

/*　画像の拡大＋テキスト出現　*/

.zoomInText{/*テキストの基点となる位置を定義*/
  position: relative;
}

.zoomInText span.mask{
  position: relative;
  transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
  display: block;/*画像をくくるspanタグをブロック要素にする*/
    line-height: 0;/*行の高さを0にする*/
    overflow:hidden;/*拡大してはみ出る要素を隠す*/
}

.zoomInText:hover span.mask::before{/*hoverした時の変化*/
  content:"";
  position: absolute;
  z-index:2;
  top:10px;
  left:10px;
  width: calc(100% - 20px);
    height: calc(100% - 20px);
  background:rgba(0,0,0,0.5);/*背景色*/
}

.zoomInText img{
  transform: scale(1);
  filter: blur(0);
  transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
}

.zoomInText:hover img{/*hoverした時の変化*/
  transform: scale(1.2);/*拡大の値を変更したい場合はこの数値を変更*/
  filter: blur(2px);/*ぼかし具合を変更したい場合はこの数値を変更*/
}

.zoomInText span.cap{
  opacity:0;
  transition: .5s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
  position: absolute;
  z-index:3;/*テキストを前面に出す*/
  top: 50%;
    left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;/*テキストの色を変えたい場合はここを修正*/
    line-height: 1.5;/*行の高さを1.5にする*/
}

.zoomInText:hover span.cap{/*hoverした時の変化*/
  opacity:1;
}


/*　横幅　*/

.zoomInText{
  width: 100%;
    margin: 0 auto;/*中央揃え*/
}
/*
-------------------------------------------------- */
.product_image{
  // margin: 20px;
  padding: 20px;
}