<div id="favorite-<%= recipe.id %>">
  <% if recipe.favorited_by?(current_customer) %>
    <%= link_to  recipe_favorite_recipe_path(recipe, favorite_recipe), method: :delete, remote: true do %>
      ♥お気に入りから削除する
    <% end %>
  <% else %>
    <%= link_to recipe_favorite_recipes_path(recipe), method: :post, remote: true do %>
      ♡お気に入りに追加する
    <% end %>
  <% end %>
</div>